* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, #578BF2, #49A3F2);
}

.todo {
    width: 100%;
    max-width: 540px;
    background: #FFF;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo div {
    color: #6A66F2;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo div h2{
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.theIcon {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EDEEF0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 10px;
    font-weight: 500;
}

.addButton {
    border: 0;
    outline: 0;
    padding: 16px 50px;
    color: #FFF;
    background: #49A3F2;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li {
    color: #111;
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}


ul li.checked {
    color: #444;
    text-decoration: line-through;
}



ul li span {
    position: absolute;
    right: 0;
    top: 1px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #444;
    line-height: 40px;
    text-align: center;
}

/* ul li span:hover {
    background: #EDEEF0;
} */

@media (max-width: 520px) {
    .todo h2 {
        justify-content: center;
    }

    .row {
        padding-left: 0;
        background: transparent;
        flex-direction: column;
        justify-content: center;
    }

    input {
        width: 100%;
        border: 1px solid #49A3F2;
        margin-bottom: 20px;
        border-radius: 30px;
    }

    .addButton:hover {
        opacity: 0.85;
    }
}